//====================================================================================================
.header {
  position: relative;
  z-index: 150;
  background-color: #1c242a;

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    height: 75px;
    @media (max-width: $md3+px) {
      justify-content: space-between;
    }
  }

  &__logo {
    position: relative;
    z-index: 2;
    width: 144px;
    @media (max-width: $md3+px) {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  // &__menu {
  // }

  // &__actions {
  // }
}

.menu {
  padding: 0px 0px 0px 30px/950px * 100%;
  flex: 1 1 auto;
  @media (max-width: $md3+px) {
    flex: 0 0 auto;
  }

  // &__icon {
  // }

  &__body {
    @media (max-width: $md3+px) {
      background-color: rgba(28, 36, 42, 0.98);
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      overflow: auto;
      padding: 120px 0px 20px 0px;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease 0s;
      text-align: center;
      &:after {
        content: "";
        background-color: #1c242a;
        position: fixed;
        top: 0;
        left: 0;
        height: 75px;
        width: 100%;
      }
      &.active {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    li {
      margin: 0 15px;
    }
    @media (max-width: $md3+px) {
      display: block;
      li {
        margin: 0px 0px 30px 0px;
        &:last-child {
          margin: 0px 0px 0px 0px;
        }
      }
    }
  }

  &__link {
    font-family: "PFDin";
    text-transform: uppercase;
    letter-spacing: 1.4px;
    color: #fff;
    @media (min-width: 992px) {
      &:hover {
        text-decoration: underline;
      }
    }
    @media (max-width: $md3+px) {
      font-size: 20px;
    }
  }
}

.icon-menu {
  @media (max-width: $md3+px) {
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
    span {
      @include anim(0.3s, 0s);
      top: 8px;
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #bb9c66;
      &:first-child {
        top: 0px;
      }
      &:last-child {
        top: auto;
        bottom: 0px;
      }
    }
    &.active {
      span {
        @include scale(0);
        &:first-child {
          @include rotate(-45deg);
          top: 8px;
        }
        &:last-child {
          @include rotate(45deg);
          bottom: 8px;
        }
      }
    }
  }
}

.actions-header {
  display: flex;
  align-items: center;

  &__region {
    @extend .menu__link;
    position: relative;
    z-index: 2;
    padding: 0px 0px 0px 30px;
    line-height: 18px;
    min-width: 18px;
    min-height: 18px;
    background: url("../img/icons/globe.png") left no-repeat;
    @media (max-width: 890px) {
      padding: 0px 0px 0px 0px;

      span {
        display: none;
      }
    }
    @media (max-width:$md3+px){
      margin: 50px 0px 0px 0px;
      display: inline-block;
      padding: 0px 0px 0px 30px;  
      span {
        display: inline-block;
      }
    }
  }

  &__user {
    margin: 0px 0px 0px 30px;
    @media (max-width: 890px) {
      margin: 0px 0px 0px 15px;
    }
  }
}

.user-header {
  &__icon {
    cursor: pointer;
    position: relative;
    z-index: 2;
  }

  &__menu {
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease 0s;
    top: 88px;
    right: 0;
    padding: 20px;
    position: absolute;
    background-color: #1c242a;
    min-width: 176px;
    li {
      margin: 0px 0px 8px 0px;
      &:last-child {
        margin: 0px 0px 0px 0px;
      }
    }
    @media (max-width:$md3+px){
      width: 100%;
    }
    &._active {
      top: 78px;
      opacity: 1;
      visibility: visible;
    }
  }

  &__link {
    color: #fff;
    padding: 0px 0px 0px 30px;
    display: inline-block;
    line-height: 18px;
    &-1 {
      background: url("../img/icons/1.png") 4px center no-repeat;
    }

    &-2 {
      background: url("../img/icons/2.png") left center no-repeat;
    }

    &-3 {
      background: url("../img/icons/3.png") 4px center no-repeat;
    }

    &-4 {
      background: url("../img/icons/4.png") left center no-repeat;
    }
    @media (min-width: 992px) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

//====================================================================================================
