// МИКСИНЫ ===================================================
@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"),
        url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}
@import 'mixins.scss';

// ШРИФТЫ ====================================================

// &subset=cyrillic-ext ======================================



// Иконочные шрифты =========================================
//@import 'icons.scss'

// Шрифт по умолчанию
$fontfamily: 'PT Sans';
@import url('https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700&subset=cyrillic-ext');
@import 'fonts.scss';
//
//// ПЕРЕМЕННЫЕ ================================================
$minwidth: 320px;
$mw: 950;
$md1: $mw +12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

// ОБНУЛЕНИЕ ==============================================
@import 'null.scss';
body {
   color: #000;
   font-size: 14px;
   &._lock {
       overflow: hidden;
       @media (max-width: $md3+px) {
           // width: 100px;
           // position: fixed;
           // overflow: hidden;
       }
   }
}

//ОБОЛОЧКА ===================================================
.wrapper {
    width: 100px;
    min-height: 100px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    // &._loaded {
    // }
}

// ОСНОВНАЯ СЕТКА ==================================================
._container {
    max-width: $mw + px;
    margin: 0 auto;
    @media (max-width: $md1+px) {
        max-width: 970px;
    }
    @media (max-width: $md2+px) {
        max-width: 750px;
    }
    @media (max-width: $md3+px) {
        max-width: none;
        padding: 0 10px;
    }
}

// ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ ===========================================
@import 'forms.scss';
@import 'ui.scss';

// ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ ==========================
// @import 'datepicker.scss';
// @import 'lightgallery.scss';
// @import 'padding.scss';
// @import 'icons.scss';
@import 'popup.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'home.scss';

// ОСНОВНОЙ БЛОК ====================================================
.page {
   flex: 1 1 auto;
}
