//<ОСНОВНОЙ БЛОК>====================================================================================================

.title {
    text-align: center;
    // .title__item
    &__item {
        color: #bb9c66;
        font-family: "ceremonious";
        font-size: 40px;
        font-weight: 400;
        line-height: 25px;
        margin: 0px 0px 23px 0px;
    }
    // .title__main
    &__main {
        font-family: "PFDin";
        font-size: 35px;
        font-weight: 500;
        line-height: 35px;
        text-transform: uppercase;
        letter-spacing: 5.25px;
        // .title__main_w
        &_w {
            color: #ffffff;
        }
        &_regular {
            font-weight: 400;
        }
    }
}

.block-header {
    align-items: center;
    // .block-header__title
    &__title {
        margin: 0px 0px 21px 0px;
    }
    // .block-header__decor
    &__decor {
    }
}

.block-decor {
    justify-content: center;
    display: flex;
    align-items: center;
    // .block-decor__items
    &__items {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
    }
    // .block-decor__icon
    &__icon {
        text-align: center;
        flex: 0 0 145px;
        img {
            max-width: 70px;
        }
        @media (max-width: $md3+px) {
            flex: 0 0 95px;
        }
    }
}

.lot {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    // .lot__header
    &__header {
        text-align: center;
        margin: 0px 0px 30px 0px;
        position: relative;
    }
    // .lot__image
    &__image {
        display: block;
        padding: 0px 0px 98% 0px;
        border: 3px solid #bb9c66;
    }
    // .lot__timer
    &__timer {
    }
    // .lot__title
    &__title {
        color: #000000;
        font-family: "PFDin";
        font-size: 21px;
        font-weight: 500;
        line-height: calc(25 / 21);
        text-transform: uppercase;
        position: relative;
        z-index: 2;
        flex: 1 1 auto;
        margin: 0px 0px 27px/21px * 1em 0px;
        @media (max-width: 975px) {
            font-size: 18px;
        }
        @media (min-width: 992px) {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    // .lot__info
    &__info {
    }
    // .lot__btn
    &__btn {
        margin: 0px 25px;
    }
}
.timer-lot {
    transform: translate(-50%, 50%);
    width: 72px;
    height: 72px;
    display: inline-flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    padding: 2px 0px 0px 0px;
    left: 50%;
    bottom: 0;
    div {
        position: relative;
        z-index: 2;
    }
    &:before {
        content: "";
        background-color: #fff;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: rotate(-45deg);
    }

    // .timer-lot__icon
    &__icon {
        margin: 0px 0px 5px 0px;
    }
    // .timer-lot__item
    &__item {
        font-size: 16px;
    }
}

.info-lot {
    display: flex;
    justify-content: center;
    margin: 0px 0px 35px 0px;
    // .info-lot__statistic
    &__statistic {
        flex: 0 0 50px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    // .info-lot__icon
    &__icon {
        width: 25px * 0.72;
        height: 25px * 0.72;
        margin: 0px auto 10px auto;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        img {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 2;
        }
        &:after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            transform: rotate(-45deg);
            background-color: #000;
        }
    }
    // .info-lot__value
    &__value {
        font-size: 14px;
        border-bottom: 1px solid #bb9c66;
        padding: 0px 0px 5px 0px;
    }
    // .info-lot__current-bet
    &__current-bet {
        flex: 1 1 auto;
        @media (max-width: 975px) {
            flex: 0 0 auto;
        }
    }
}
.current-bet-info-lot {
    padding: 0px 5px;
    position: relative;
    @media (max-width: 975px) {
        padding: 0px 10px;
    }
    &:after {
        content: "";
        position: absolute;
        width: 72px;
        height: 72px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        border: 1px solid #bb9c66;
    }
    div {
        position: relative;
        z-index: 2;
    }
    // .current-bet-info-lot__label
    &__label {
        margin: 0px 0px 5px 0px;
    }
    // .current-bet-info-lot__value
    &__value {
        color: #1c242a;
        font-family: "BravoRG";
        font-size: 50px;
        white-space: nowrap;
        @media (max-width: 975px) {
            font-size: 35px;
        }
    }
    // .current-bet-info-lot__currency
    &__currency {
    }
}

// ==============================================================================================================================================

.item {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px 40px 30px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    width: 250px;
    @media (min-width: 992px){
        &:hover {
            .item__bg {
                transform: scale(1.1);
            }
        }
    }
    // .item__link
    &__link {
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        z-index: 5;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    // .item__icon
    &__icon {
        position: relative;
        z-index: 2;
        margin: 0px 0px 22px 0px;
    }
    // .item__title
    &__title {
        position: relative;
        z-index: 2;
        color: #fff;
        font-size: 21px;
        font-weight: 500;
        line-height: calc(25 /21);
        letter-spacing: 2.1px;
        text-transform: uppercase;
        font-family: 'PFDin';
        flex: 1 1 auto;
    }
    // .item__deco
    &__deco {
        text-align: center;
        position: relative;
        z-index: 2;
    }
    // .item__bg
    &__bg {
        transition: transform 0.8s ease 0s;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.65);
        }
    }
}

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ГОТОВЫЕ КЛАССЫ>====================================================================================================
.row:after {
    display: block;
    content: "";
    clear: both;
}
.rub:after {
    content: "₽";
}
//====================================================================================================
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
//====================================================================================================
ol.counter {
    list-style-type: none;
    counter-reset: item;
    li {
        position: relative;
        padding: 0px 0px 0px 45px;
        &:before {
            counter-increment: item;
            content: counter(item);
            position: absolute;
            left: 0;
            top: 0;
            color: #818181;
            font-size: 14px;
            font-weight: 700;
            text-align: center;
            line-height: 26px;
            border-radius: 50%;
            width: 28px;
            height: 28px;
            border: 1px solid #4274bb;
        }
    }
}
//====================================================================================================
.ellipsis {
    display: block;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.es {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
//====================================================================================================
.table {
    display: table;
    font-size: 0;
    width: 100%;
    //table-layout: fixed;
}
.trow {
    display: table-row;
}
.cell {
    display: table-cell;
    &.full {
        width: 100%;
    }
}
//====================================================================================================
.ibg {
    position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

body.ie {
    .ibg {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .ibg img {
        width: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;
    }
}

//====================================================================================================
.video {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 56.25%;
    video,
    iframe,
    object,
    embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
.videobg {
    video,
    iframe,
    object,
    embed {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
        background-size: cover;
    }
}
//====================================================================================================
.moretext {
    overflow: hidden;
}
.moretext__more {
    cursor: pointer;
    span {
        font-style: normal;
        &:first-child {
            display: block;
        }
        &:last-child {
            display: none;
        }
    }
    &.active {
        span {
            font-style: normal;
            &:first-child {
                display: none;
            }
            &:last-child {
                display: block;
            }
        }
    }
}
//====================================================================================================
.graystyle {
    @include anim(0.8s, 0s);
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
}
.graystyleoff {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
}
//====================================================================================================
// .slick-slider {
//     position: relative;
//     .slick-track,
//     .slick-list {
//         -webkit-transform: translate3d(0, 0, 0);
//         -moz-transform: translate3d(0, 0, 0);
//         -ms-transform: translate3d(0, 0, 0);
//         -o-transform: translate3d(0, 0, 0);
//         transform: translate3d(0, 0, 0);
//     }
//     .slick-list {
//         position: relative;
//         overflow: hidden;
//         width: 100%;
//     }
//     .slick-track {
//         position: relative;
//         width: 100%;
//         @include flexbox();
//     }
//     .slick-slide {
//         position: relative;
//     }
//     .slick-arrow {
//         &.slick-prev {
//         }
//         &.slick-next {
//         }
//     }
//     .slick-dots {
//         li {
//             button {
//             }
//             &.slick-active {
//                 button {
//                 }
//             }
//         }
//     }
// }
//=====================================================================================================================
.tab__item {
    display: none;
    &.active {
        display: block;
    }
}
//=====================================================================================================================
.mirror {
    transform: scale(-1, 1);
}
//=====================================================================================================================
.nicescroll-rails {
    z-index: 1000 !important;
}
//=====================================================================================================================
.gm-style {
}
.gm-style-iw-t {
    opacity: 0;
}
.baloon {
    opacity: 1;
    right: -7px !important;
    bottom: 80px !important;
    button {
        display: none !important;
    }
    &:after {
        display: none !important;
    }
}
.baloon-style {
    display: none;
}
.baloon-content.gm-style-iw {
    opacity: 1;
    border-radius: 0px !important;
    max-width: 300px !important;
    padding: 0 !important;
    left: 0 !important;
    width: 100% !important;
    overflow: visible !important;
    > .gm-style-iw-d {
        overflow: hidden !important;
        max-width: none !important;
    }
    &:after {
        display: none !important;
    }
}
.baloon-close {
    top: 18px !important;
}
//</ГОТОВЫЕ КЛАССЫ>====================================================================================================
